.App {
  text-align: center;
}
ul, li, h1{
  text-decoration: none;
}
a{
  text-decoration: none!important;
  color: white!important;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
p{
  text-decoration: none;
}
/* Announcement Bar */

.announcement-bar {
  z-index: 10;
  position: relative;
  text-align: center;
  
  background: linear-gradient(90deg,#333333 0%,#575757 100%);
  height: 49px;
  cursor: pointer;
}
.announcement-bar__link{
  display:block;
  text-decoration: none;
}
.announcement-bar__message{
  display:block;
  padding:13px 22px;
  font-size:calc(((16)/ (var(--font-size-base))) * 1em);
  font-weight:var(--font-weight-header);
}
.announcement-bar__link:hover {
  background-color: #5a5a5a;
}
.announcement-bar__link:hover {
  background: linear-gradient(90deg,#009b72 0,#00bc8f 100%);
  text-decoration: none;
}
.announcement-bar__message {
  color: #ffffff;
}
  
@media only screen and (min-width:750px){
  .announcement-bar__message{
    padding-left:55px;
    padding-right:55px;
  }
}


.nav-container{
  padding: 20px 50px;
}
.hidden{
  display: none;
}
.hero__inner {
  position: relative;
  vertical-align: middle;
  padding: 120px 0;
  z-index: 2;
}
.text-green{
  color: #009b72!important;
}
.bg-gray{
  background-color: #f8f8f8!important;
}
.mega-title{
  line-height: 60px;
  padding: 55px 55px;
  font-size: 60px;
}
.mega-subtitle{
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}
.page-width {
  padding-left: 55px;
  padding-right: 55px;
}
.hero__btn {
  /* margin-top: 27.5px; */
  /* height: 55px; */
  width: 224px;
  border-radius: 29.5px;
  background: linear-gradient(90deg,#333333 0%,#575757 100%);
  box-shadow: -4px -4px 12px #ffffff1c, 8px 8px 15px #0000004d;
  font-family: HK Grotesk SemiBold;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2.88px;
  /* line-height: 37px; */
  text-align: center;
  border: none;
  padding: 15px;
  margin-right: 20px;
}

.learn__btn {
  margin-top: 27.5px;
  height: 55px;
  width: 224px;
  border-radius: 29.5px;
  background-color: #fff;
  box-shadow: inset 3px 3px 15px 4px #00000008, -4px -4px 12px #fff, 8px 8px 15px #00000017;
  color: #3d3d3d!important;
  font-family: HK Grotesk Bold;
  font-size: 15px;
  letter-spacing: 2.88px;
  line-height: 37px;
  text-align: center;
  padding: 20px 25px;
}
.learn__btn:hover {
  box-shadow: inset 3px 3px 15px 4px #00000008, -4px -4px 12px #fff, 10px 15px 4px #00000017;
}

/* Animated Lines */
.animated-lines.line-animated.animation-lines-left:before {
  content: "";
  position: absolute;
  height: 2px;
  border: 1px solid #00bc8f;
  bottom: 27.3%;
  width: 36%;
  animation: animate 1.5s linear;
  left: 0;
  background-color: #00bc8f;
}
.animated-lines.line-animated.animation-lines-left:after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border: 2px solid #00BC8F;
  bottom: 26.1%;
  animation: animateiconleft 1.5s linear;
  left: 36%;
  border-radius: 40px;
}
.animated-lines.line-animated.animation-lines-right:after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border: 2px solid #00BC8F;
  bottom: 26.1%;
  animation: animateiconright 1.5s linear;
  right: 36%;
  border-radius: 40px;
}
.animated-lines.line-animated.animation-lines-right:before {
  content: "";
  position: absolute;
  height: 2px;
  border: 1px solid #00bc8f;
  bottom: 27.3%;
  width: 36%;
  animation: animate 1.5s linear;
  right: 0;
  background-color: #00bc8f;
}
/* Quotes */
.quotes-section {
  padding-bottom: 120px;
  padding-top: 120px;
  background: linear-gradient(180deg,#F8F8F8 0%,rgba(248,248,248,0) 100%);
  text-align: center;
}

/* Main container */
.main-container{
  position: relative;
  background-image: url(https://cdn.shopify.com/s/files/1/2779/4838/files/mask-bg.png?v=1618245725);
  height: 110vh;
  background-size: cover;
  background-position: center bottom;
}

/* Footer container */
.footer-container{
  margin-top: 0px;
  position: relative;
  background-image: url(https://cdn.shopify.com/s/files/1/2779/4838/files/mask-bg.png?v=1618245725);
  background-size: cover;
  padding: 50px 50px 25px 50px;
}

/* About Us container */
.about-container {
  margin-bottom: 0px;
  background-image: url(https://cdn.shopify.com/s/files/1/2779/4838/files/services_bg-img.png?v=1624366611);
  background-size: 165% 498vh;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
}
.contact-container{
  padding-bottom: 20px;
  background-image: url(https://cdn.shopify.com/s/files/1/2779/4838/files/services_bg-img.png?v=1624366611);
  background-size: 165% 498vh;
  background-repeat: no-repeat;
  position: relative;
}
.hr-color{
  border-top: 2px solid white;
}
.text-large{
  font-size: 48px;
}
.text-medium{
  font-size: 24px;
}
.input-style{
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px 60px;
  text-align: center;
  margin-right: 20px;
}
.image-sizing{
  width: 700px;
  height: auto;
  padding: 20px;

}
.input-custom{
  width: 100%;
  padding: 7px 20px;
  /* margin: 8px 0; */
  border: none!important;
  border-bottom: 2px solid black!important;
}
.item-center{
  margin: 0 auto;
}
/* *************************************** */
/* media queries */
@media screen and (max-width: 768px) {
  .mega-title{
    line-height: 30px;
    font-size: 30px;
  }
  /* Main container */
.main-container{
  height: 80vh;
}
.about-container {
  background-size: 165% 450vh;}
.image-sizing{
  width: 500px;
  
}
/* Animated Lines */
.animated-lines.line-animated.animation-lines-left:before {
  width: 25%;
}
.animated-lines.line-animated.animation-lines-left:after {
  left: 25%;
}
.animated-lines.line-animated.animation-lines-right:after {
  right: 25%;
}
.animated-lines.line-animated.animation-lines-right:before {
  width: 25%;
}
.mega-subtitle{
  width: 100%;
  margin-bottom: 10px;
}
.page-width {
  padding-left: 20px;
  padding-right: 20px;
}
h3{
  font-size: 20px!important;
  margin-bottom: 10px;
}
}